   <!--HEADER SECTION-->
   {% load static %}
   <section>
    <div class="tourz-search">
        <div class="container">
            <div class="row">
                <div class="tourz-search-1">
                    <h1>Book Your Pg  Now!</h1>
                    <p>Experience the various exciting Pg   search cheap Pg  and hostel</p>
                    <form class="tourz-search-form">
                        <div class="input-field">
                            <input type="text" id="select-city" class="autocomplete">
                            <label for="select-city">Enter city</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="select-search" class="autocomplete">
                            <label for="select-search" class="search-hotel-type">Search over a thousands Pg and  Hostels and more</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
                    </form>
                    <div class="tourz-hom-ser">
                        {% comment %} <ul>
                            <li>
                                {% load static %}

                                <a href="booking-tour-package.html" class="waves-effect waves-light btn-large tourz-pop-ser-btn wow fadeInUp" data-wow-duration="0.5s"><img src="{% static 'images/icon/2.png'%}" alt=""> Tour</a>
                            </li>
                            <li>
                                <a href="booking-flight.html" class="waves-effect waves-light btn-large tourz-pop-ser-btn wow fadeInUp" data-wow-duration="1s"><img src="{% static 'images/icon/31.png' %}" alt=""> Flight</a>
                            </li>
                            <li>
                                <a href="booking-car-rentals.html" class="waves-effect waves-light btn-large tourz-pop-ser-btn wow fadeInUp" data-wow-duration="1.5s"><img src="{% static 'images/icon/30.png'%}" alt=""> Car Rentals</a>
                            </li>
                            <li>
                                <a href="booking-hotel.html" class="waves-effect waves-light btn-large tourz-pop-ser-btn wow fadeInUp" data-wow-duration="2s"><img src="images/icon/1.png" alt=""> Hotel</a>
                            </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->